/* Write your CSS code here */
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-name {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  color: #12022f;
}

.description {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #616e7c;
}

.published {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #9aa5b1;
}

.line {
  border: 1px solid #9aa5b1;
}
